<div ng-cloak class="backgroundContainer" style="background-image: url(img/1.PNG)">
    <div transparent-button="{top:25, left:16, width:57, height:57}" ng-click="goto('img/2.PNG')"></div>
    <div transparent-button="{top:25, left:92, width:57, height:57}" ng-click="goto('img/3.PNG')"></div>
    <div transparent-button="{top:25, left:168, width:57, height:57}" ng-click="goto('img/4.PNG')"></div>
    <div transparent-button="{top:25, left:244, width:57, height:57}" ng-click="goto('img/5.PNG')"></div>
    <div transparent-button="{top:486, left:92, width:57, height:57}" ng-click="goto('img/6.PNG')"></div>
    <div transparent-button="{top:486, left:168, width:57, height:57}" ng-click="goto('img/7.PNG')"></div>
</div>