<div transparent-button="{top:25, left:16, width:57, height:57}" ng-click="userClick('img/2.PNG')"></div>
<div transparent-button="{top:25, left:92, width:57, height:57}" ng-click="userClick('img/3.PNG')"></div>
<div transparent-button="{top:25, left:168, width:57, height:57}" ng-click="userClick('img/4.PNG')"></div>
<div transparent-button="{top:25, left:244, width:57, height:57}" ng-click="userClick('img/5.PNG')"></div>
<div transparent-button="{top:486, left:92, width:57, height:57}" ng-click="userClick('img/6.PNG')"></div>
<div transparent-button="{top:486, left:168, width:57, height:57}" ng-click="userClick('img/7.PNG')"></div>